h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  background-color: rgb(131, 161, 187);
}

svg {
  background-color: white;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 50px;
}

#tooltip {
  position: absolute;
  background: #222;
  color: white;
  padding: 8px;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s;
}
